@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

@mixin size($x, $y: $x) {
	width: $x;
	height: $y;
}

$pixel: 3px;

body {
	background: #90cef9;
	color: #fff;
	font-family: 'Press Start 2P', sans-serif;
	font-size: $pixel * 2;
	
	#layout {
		@include size(100vw, 100vh);
		background: #90cef9 url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/108082/holo-pixel.png') no-repeat center center fixed;
		background-size: cover;
		overflow: hidden;
	}
}

.catbug {
	position: relative;
	margin-left: $pixel*20;
  margin-top: $pixel*7;
	transform: scale(1, 1);
	animation: jump 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
	
	&.left {
		transform: scale(-1, 1);
	}
	
	&, &__wings, &__paws, &__wings-white, &__mouth, &__eyes {
		@include size($pixel);
		background-color: transparent;
	}
	&__wings, &__paws, &__wings-white, &__mouth, &__eyes {
		position: absolute;
		&:after, &:before {
			display: block;
			content: '';
			position: absolute;
			@include size($pixel);
			background-color: transparent;
		}
	}
	&__wings-white {
		&:before {
			opacity: 0;
			animation: blink .1s ease infinite alternate-reverse;
		}
		&:after {
			opacity: 1;
			animation: blink .1s ease infinite alternate;
		}
	}
	&__paws, &__mouth, &__eyes {
		&:before {
			display: none;
		}
		&:after {
			display: block;
		}
	}
	
	&-wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		@include size($pixel*50);
		transform: translate(-50%, -50%);
		transition: top .6s cubic-bezier(0.25, 0.46, 0.45, 0.94), left .6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		
		&.bad-boy .catbug {
			.catbug__mouth, .catbug__eyes {
				&:before {
					display: block;
				}
				&:after {
					display: none;
				}
			}
		}
		&.good-boy .catbug {
			.catbug__paws, .catbug__mouth {
				&:before {
					display: block;
				}
				&:after {
					display: none;
				}
			}
		}
	}
}

// pixel draw
$catbug-white: 			#fff;
$catbug-black: 			#000;
$catbug-body: 			#90cef9;
$catbug-wing: 			#ff002b;
$catbug-spot: 			#000248;
$catbug-mouth: 			#e44349;
$catbug-lang: 			#ec999a;
.catbug {
	box-shadow:
		-1*6*$pixel 12*$pixel 0 $catbug-black,
		5*$pixel 12*$pixel 0 $catbug-spot,
		
		-1*7*$pixel 13*$pixel 0 $catbug-spot,
		-1*6*$pixel 13*$pixel 0 $catbug-body,
		-1*5*$pixel 13*$pixel 0 $catbug-black,
		4*$pixel 13*$pixel 0 $catbug-spot,
		5*$pixel 13*$pixel 0 $catbug-body,
		6*$pixel 13*$pixel 0 $catbug-black,
		
		-1*7*$pixel 14*$pixel 0 $catbug-spot,
		-1*6*$pixel 14*$pixel 0 $catbug-body,
		-1*5*$pixel 14*$pixel 0 $catbug-body,
		-1*4*$pixel 14*$pixel 0 $catbug-black,
		3*$pixel 14*$pixel 0 $catbug-spot,
		4*$pixel 14*$pixel 0 darken($catbug-body, 5%),
		5*$pixel 14*$pixel 0 $catbug-body,
		6*$pixel 14*$pixel 0 $catbug-black,
		
		-1*7*$pixel 15*$pixel 0 lighten($catbug-spot, 25%),
		-1*6*$pixel 15*$pixel 0 $catbug-body,
		-1*5*$pixel 15*$pixel 0 $catbug-body,
		-1*4*$pixel 15*$pixel 0 $catbug-body,
		-1*3*$pixel 15*$pixel 0 $catbug-black,
		-1*2*$pixel 15*$pixel 0 $catbug-black,
		-1*1*$pixel 15*$pixel 0 $catbug-black,
		0*$pixel 15*$pixel 0 $catbug-black,
		1*$pixel 15*$pixel 0 $catbug-spot,
		2*$pixel 15*$pixel 0 $catbug-spot,
		3*$pixel 15*$pixel 0 lighten($catbug-spot, 25%),
		4*$pixel 15*$pixel 0 darken($catbug-body, 10%),
		5*$pixel 15*$pixel 0 lighten($catbug-body, 5%),
		6*$pixel 15*$pixel 0 $catbug-black,
		
		-1*8*$pixel 16*$pixel 0 $catbug-black,
		-1*7*$pixel 16*$pixel 0 darken($catbug-body, 15%),
		-1*6*$pixel 16*$pixel 0 darken($catbug-body, 5%),
		-1*5*$pixel 16*$pixel 0 $catbug-body,
		-1*4*$pixel 16*$pixel 0 $catbug-body,
		-1*3*$pixel 16*$pixel 0 $catbug-body,
		-1*2*$pixel 16*$pixel 0 $catbug-body,
		-1*1*$pixel 16*$pixel 0 $catbug-body,
		0*$pixel 16*$pixel 0 $catbug-body,
		1*$pixel 16*$pixel 0 $catbug-body,
		2*$pixel 16*$pixel 0 darken($catbug-body, 5%),
		3*$pixel 16*$pixel 0 darken($catbug-body, 2%),
		4*$pixel 16*$pixel 0 darken($catbug-body, 15%),
		5*$pixel 16*$pixel 0 lighten($catbug-spot, 25%),
		6*$pixel 16*$pixel 0 $catbug-black,
		
		-1*9*$pixel 17*$pixel 0 $catbug-black,
		-1*8*$pixel 17*$pixel 0 darken($catbug-body, 5%),
		-1*7*$pixel 17*$pixel 0 $catbug-body,
		-1*6*$pixel 17*$pixel 0 $catbug-body,
		-1*5*$pixel 17*$pixel 0 $catbug-body,
		-1*4*$pixel 17*$pixel 0 $catbug-body,
		-1*3*$pixel 17*$pixel 0 $catbug-body,
		-1*2*$pixel 17*$pixel 0 $catbug-body,
		-1*1*$pixel 17*$pixel 0 $catbug-body,
		0*$pixel 17*$pixel 0 $catbug-body,
		1*$pixel 17*$pixel 0 $catbug-body,
		2*$pixel 17*$pixel 0 $catbug-body,
		3*$pixel 17*$pixel 0 $catbug-body,
		4*$pixel 17*$pixel 0 $catbug-body,
		5*$pixel 17*$pixel 0 $catbug-body,
		6*$pixel 17*$pixel 0 $catbug-spot,
		
		-1*10*$pixel 18*$pixel 0 $catbug-black,
		-1*9*$pixel 18*$pixel 0 darken($catbug-body, 30%),
		-1*8*$pixel 18*$pixel 0 darken($catbug-body, 5%),
		-1*7*$pixel 18*$pixel 0 $catbug-body,
		-1*6*$pixel 18*$pixel 0 $catbug-body,
		-1*5*$pixel 18*$pixel 0 $catbug-body,
		-1*1*$pixel 18*$pixel 0 $catbug-body,
		0*$pixel 18*$pixel 0 $catbug-body,
		1*$pixel 18*$pixel 0 $catbug-body,
		2*$pixel 18*$pixel 0 $catbug-body,
		6*$pixel 18*$pixel 0 $catbug-body,
		7*$pixel 18*$pixel 0 $catbug-spot,
		
		-1*10*$pixel 19*$pixel 0 $catbug-black,
		-1*9*$pixel 19*$pixel 0 darken($catbug-body, 5%),
		-1*8*$pixel 19*$pixel 0 $catbug-body,
		-1*7*$pixel 19*$pixel 0 $catbug-body,
		-1*6*$pixel 19*$pixel 0 $catbug-body,
		-1*5*$pixel 19*$pixel 0 $catbug-body,
		0*$pixel 19*$pixel 0 $catbug-body,
		1*$pixel 19*$pixel 0 $catbug-body,
		6*$pixel 19*$pixel 0 $catbug-body,
		7*$pixel 19*$pixel 0 $catbug-black,
		
		-1*10*$pixel 20*$pixel 0 lighten($catbug-spot, 20%),
		-1*9*$pixel 20*$pixel 0 darken($catbug-body, 5%),
		-1*8*$pixel 20*$pixel 0 $catbug-body,
		-1*7*$pixel 20*$pixel 0 $catbug-body,
		-1*6*$pixel 20*$pixel 0 $catbug-body,
		-1*5*$pixel 20*$pixel 0 $catbug-body,
		-1*1*$pixel 20*$pixel 0 $catbug-body,
		0*$pixel 20*$pixel 0 $catbug-body,
		1*$pixel 20*$pixel 0 $catbug-body,
		2*$pixel 20*$pixel 0 $catbug-body,
		6*$pixel 20*$pixel 0 $catbug-body,
		7*$pixel 20*$pixel 0 $catbug-black,
		
		-1*11*$pixel 21*$pixel 0 lighten($catbug-spot, 20%),
		-1*10*$pixel 21*$pixel 0 darken($catbug-body, 30%),
		-1*9*$pixel 21*$pixel 0 $catbug-body,
		-1*8*$pixel 21*$pixel 0 $catbug-body,
		-1*7*$pixel 21*$pixel 0 $catbug-body,
		-1*6*$pixel 21*$pixel 0 $catbug-body,
		-1*5*$pixel 21*$pixel 0 $catbug-body,
		-1*4*$pixel 21*$pixel 0 $catbug-body,
		-1*3*$pixel 21*$pixel 0 $catbug-body,
		4*$pixel 21*$pixel 0 darken($catbug-body, 5%),
		5*$pixel 21*$pixel 0 $catbug-body,
		6*$pixel 21*$pixel 0 $catbug-body,
		7*$pixel 21*$pixel 0 $catbug-black,
		
		-1*12*$pixel 22*$pixel 0 $catbug-spot,
		-1*11*$pixel 22*$pixel 0 darken($catbug-body, 5%),
		-1*10*$pixel 22*$pixel 0 darken($catbug-body, 30%),
		-1*9*$pixel 22*$pixel 0 $catbug-body,
		-1*8*$pixel 22*$pixel 0 $catbug-body,
		-1*7*$pixel 22*$pixel 0 $catbug-body,
		-1*6*$pixel 22*$pixel 0 $catbug-body,
		-1*5*$pixel 22*$pixel 0 $catbug-body,
		-1*4*$pixel 22*$pixel 0 $catbug-body,
		-1*3*$pixel 22*$pixel 0 $catbug-body,
		4*$pixel 22*$pixel 0 $catbug-body,
		5*$pixel 22*$pixel 0 $catbug-body,
		6*$pixel 22*$pixel 0 darken($catbug-body, 5%),
		7*$pixel 22*$pixel 0 $catbug-spot,
		
		-1*13*$pixel 23*$pixel 0 $catbug-spot,
		-1*12*$pixel 23*$pixel 0 darken($catbug-body, 30%),
		-1*11*$pixel 23*$pixel 0 $catbug-body,
		-1*10*$pixel 23*$pixel 0 darken($catbug-body, 5%),
		-1*9*$pixel 23*$pixel 0 darken($catbug-body, 30%),
		-1*8*$pixel 23*$pixel 0 $catbug-body,
		-1*7*$pixel 23*$pixel 0 $catbug-body,
		-1*6*$pixel 23*$pixel 0 $catbug-body,
		-1*5*$pixel 23*$pixel 0 $catbug-body,
		-1*4*$pixel 23*$pixel 0 $catbug-body,
		-1*3*$pixel 23*$pixel 0 $catbug-body,
		4*$pixel 23*$pixel 0 $catbug-body,
		5*$pixel 23*$pixel 0 $catbug-body,
		6*$pixel 23*$pixel 0 darken($catbug-body, 30%),
		7*$pixel 23*$pixel 0 $catbug-spot,
		
		-1*14*$pixel 24*$pixel 0 $catbug-spot,
		-1*13*$pixel 24*$pixel 0 darken($catbug-body, 30%),
		-1*12*$pixel 24*$pixel 0 darken($catbug-body, 5%),
		-1*11*$pixel 24*$pixel 0 $catbug-body,
		-1*10*$pixel 24*$pixel 0 $catbug-body,
		-1*9*$pixel 24*$pixel 0 darken($catbug-body, 5%),
		-1*8*$pixel 24*$pixel 0 darken($catbug-body, 5%),
		-1*7*$pixel 24*$pixel 0 $catbug-body,
		-1*6*$pixel 24*$pixel 0 $catbug-body,
		-1*5*$pixel 24*$pixel 0 $catbug-body,
		-1*4*$pixel 24*$pixel 0 $catbug-body,
		-1*3*$pixel 24*$pixel 0 $catbug-body,
		-1*2*$pixel 24*$pixel 0 $catbug-body,
		3*$pixel 24*$pixel 0 $catbug-body,
		4*$pixel 24*$pixel 0 $catbug-body,
		5*$pixel 24*$pixel 0 darken($catbug-body, 5%),
		6*$pixel 24*$pixel 0 $catbug-black,
		
		-1*14*$pixel 25*$pixel 0 $catbug-spot,
		-1*13*$pixel 25*$pixel 0 darken($catbug-body, 30%),
		-1*12*$pixel 25*$pixel 0 $catbug-body,
		-1*11*$pixel 25*$pixel 0 $catbug-body,
		-1*10*$pixel 25*$pixel 0 $catbug-body,
		-1*9*$pixel 25*$pixel 0 darken($catbug-body, 5%),
		-1*8*$pixel 25*$pixel 0 darken($catbug-body, 5%),
		-1*7*$pixel 25*$pixel 0 darken($catbug-body, 5%),
		-1*6*$pixel 25*$pixel 0 darken($catbug-body, 5%),
		-1*5*$pixel 25*$pixel 0 $catbug-body,
		-1*4*$pixel 25*$pixel 0 $catbug-body,
		-1*3*$pixel 25*$pixel 0 $catbug-body,
		-1*2*$pixel 25*$pixel 0 $catbug-body,
		-1*1*$pixel 25*$pixel 0 $catbug-body,
		0*$pixel 25*$pixel 0 $catbug-body,
		1*$pixel 25*$pixel 0 $catbug-body,
		2*$pixel 25*$pixel 0 $catbug-body,
		3*$pixel 25*$pixel 0 darken($catbug-body, 5%),
		4*$pixel 25*$pixel 0 darken($catbug-body, 30%),
		5*$pixel 25*$pixel 0 $catbug-black,
		
		-1*15*$pixel 26*$pixel 0 $catbug-spot,
		-1*14*$pixel 26*$pixel 0 lighten($catbug-spot, 20%),
		-1*13*$pixel 26*$pixel 0 darken($catbug-body, 5%),
		-1*12*$pixel 26*$pixel 0 $catbug-body,
		-1*11*$pixel 26*$pixel 0 $catbug-body,
		-1*10*$pixel 26*$pixel 0 $catbug-body,
		-1*3*$pixel 26*$pixel 0 $catbug-body,
		-1*2*$pixel 26*$pixel 0 $catbug-body,
		-1*1*$pixel 26*$pixel 0 $catbug-body,
		
		-1*15*$pixel 27*$pixel 0 $catbug-spot,
		-1*14*$pixel 27*$pixel 0 darken($catbug-body, 30%),
		-1*13*$pixel 27*$pixel 0 $catbug-body,
		-1*12*$pixel 27*$pixel 0 $catbug-body,
		-1*11*$pixel 27*$pixel 0 $catbug-body,
		-1*10*$pixel 27*$pixel 0 $catbug-body,
		-1*3*$pixel 27*$pixel 0 $catbug-body,
		-1*2*$pixel 27*$pixel 0 $catbug-body,
		-1*1*$pixel 27*$pixel 0 $catbug-body,
		0*$pixel 27*$pixel 0 $catbug-body,
		
		-1*15*$pixel 28*$pixel 0 $catbug-spot,
		-1*14*$pixel 28*$pixel 0 darken($catbug-body, 30%),
		-1*13*$pixel 28*$pixel 0 $catbug-body,
		-1*12*$pixel 28*$pixel 0 $catbug-body,
		-1*11*$pixel 28*$pixel 0 $catbug-body,
		-1*10*$pixel 28*$pixel 0 $catbug-body,
		-1*3*$pixel 28*$pixel 0 $catbug-body,
		-1*2*$pixel 28*$pixel 0 $catbug-body,
		-1*1*$pixel 28*$pixel 0 $catbug-body,
		0*$pixel 28*$pixel 0 $catbug-body,
		
		-1*15*$pixel 29*$pixel 0 $catbug-spot,
		-1*14*$pixel 29*$pixel 0 darken($catbug-body, 30%),
		-1*13*$pixel 29*$pixel 0 $catbug-body,
		-1*12*$pixel 29*$pixel 0 $catbug-body,
		-1*11*$pixel 29*$pixel 0 $catbug-body,
		-1*10*$pixel 29*$pixel 0 $catbug-body,
		-1*4*$pixel 29*$pixel 0 $catbug-body,
		-1*3*$pixel 29*$pixel 0 $catbug-body,
		-1*2*$pixel 29*$pixel 0 $catbug-body,
		-1*1*$pixel 29*$pixel 0 $catbug-body,
		0*$pixel 29*$pixel 0 $catbug-body,
		
		-1*15*$pixel 30*$pixel 0 $catbug-spot,
		-1*14*$pixel 30*$pixel 0 darken($catbug-body, 30%),
		-1*13*$pixel 30*$pixel 0 darken($catbug-body, 5%),
		-1*12*$pixel 30*$pixel 0 $catbug-body,
		-1*11*$pixel 30*$pixel 0 $catbug-body,
		-1*10*$pixel 30*$pixel 0 $catbug-body,
		-1*4*$pixel 30*$pixel 0 $catbug-body,
		-1*3*$pixel 30*$pixel 0 $catbug-body,
		-1*2*$pixel 30*$pixel 0 $catbug-body,
		-1*1*$pixel 30*$pixel 0 $catbug-body,
		
		-1*15*$pixel 31*$pixel 0 $catbug-spot,
		-1*14*$pixel 31*$pixel 0 darken($catbug-body, 30%),
		-1*13*$pixel 31*$pixel 0 darken($catbug-body, 30%),
		-1*12*$pixel 31*$pixel 0 darken($catbug-body, 5%),
		-1*11*$pixel 31*$pixel 0 $catbug-body,
		-1*10*$pixel 31*$pixel 0 $catbug-body,
		-1*9*$pixel 31*$pixel 0 $catbug-body,
		-1*4*$pixel 31*$pixel 0 $catbug-body,
		-1*3*$pixel 31*$pixel 0 $catbug-body,
		-1*2*$pixel 31*$pixel 0 $catbug-body,
		-1*1*$pixel 31*$pixel 0 $catbug-body,
		
		-1*15*$pixel 32*$pixel 0 $catbug-spot,
		-1*14*$pixel 32*$pixel 0 darken($catbug-body, 30%),
		-1*13*$pixel 32*$pixel 0 darken($catbug-body, 30%),
		-1*12*$pixel 32*$pixel 0 darken($catbug-body, 5%),
		-1*11*$pixel 32*$pixel 0 darken($catbug-body, 5%),
		-1*10*$pixel 32*$pixel 0 darken($catbug-body, 5%),
		-1*9*$pixel 32*$pixel 0 darken($catbug-body, 5%),
		-1*8*$pixel 32*$pixel 0 darken($catbug-body, 5%),
		-1*7*$pixel 32*$pixel 0 darken($catbug-body, 5%),
		-1*6*$pixel 32*$pixel 0 darken($catbug-body, 5%),
		-1*5*$pixel 32*$pixel 0 darken($catbug-body, 5%),
		-1*4*$pixel 32*$pixel 0 darken($catbug-body, 5%),
		-1*3*$pixel 32*$pixel 0 $catbug-body,
		-1*2*$pixel 32*$pixel 0 $catbug-body,
		-1*1*$pixel 32*$pixel 0 darken($catbug-body, 5%),
		0*$pixel 32*$pixel 0 darken($catbug-body, 5%),
		1*$pixel 32*$pixel 0 darken($catbug-body, 30%),
		2*$pixel 32*$pixel 0 $catbug-spot,
		
		-1*15*$pixel 33*$pixel 0 $catbug-spot,
		-1*14*$pixel 33*$pixel 0 lighten($catbug-spot, 20%),
		-1*13*$pixel 33*$pixel 0 darken($catbug-body, 30%),
		-1*12*$pixel 33*$pixel 0 darken($catbug-body, 30%),
		-1*11*$pixel 33*$pixel 0 darken($catbug-body, 30%),
		-1*10*$pixel 33*$pixel 0 darken($catbug-body, 5%),
		-1*9*$pixel 33*$pixel 0 darken($catbug-body, 5%),
		-1*8*$pixel 33*$pixel 0 darken($catbug-body, 5%),
		-1*7*$pixel 33*$pixel 0 darken($catbug-body, 5%),
		-1*6*$pixel 33*$pixel 0 darken($catbug-body, 5%),
		-1*5*$pixel 33*$pixel 0 darken($catbug-body, 5%),
		-1*4*$pixel 33*$pixel 0 darken($catbug-body, 5%),
		-1*3*$pixel 33*$pixel 0 darken($catbug-body, 5%),
		-1*2*$pixel 33*$pixel 0 darken($catbug-body, 5%),
		-1*1*$pixel 33*$pixel 0 darken($catbug-body, 5%),
		0*$pixel 33*$pixel 0 darken($catbug-body, 30%),
		1*$pixel 33*$pixel 0 $catbug-spot,
		
		-1*15*$pixel 34*$pixel 0 $catbug-spot,
		-1*14*$pixel 34*$pixel 0 lighten($catbug-spot, 20%),
		-1*13*$pixel 34*$pixel 0 darken($catbug-body, 30%),
		-1*12*$pixel 34*$pixel 0 darken($catbug-body, 30%),
		-1*11*$pixel 34*$pixel 0 darken($catbug-body, 30%),
		-1*10*$pixel 34*$pixel 0 darken($catbug-body, 30%),
		-1*9*$pixel 34*$pixel 0 darken($catbug-body, 30%),
		-1*8*$pixel 34*$pixel 0 darken($catbug-body, 30%),
		-1*7*$pixel 34*$pixel 0 darken($catbug-body, 30%),
		-1*6*$pixel 34*$pixel 0 darken($catbug-body, 30%),
		-1*5*$pixel 34*$pixel 0 darken($catbug-body, 30%),
		-1*4*$pixel 34*$pixel 0 darken($catbug-body, 30%),
		-1*3*$pixel 34*$pixel 0 darken($catbug-body, 30%),
		-1*2*$pixel 34*$pixel 0 darken($catbug-body, 30%),
		-1*1*$pixel 34*$pixel 0 darken($catbug-body, 30%),
		0*$pixel 34*$pixel 0 $catbug-black,
		
		-1*14*$pixel 35*$pixel 0 $catbug-black,
		-1*13*$pixel 35*$pixel 0 darken($catbug-body, 30%),
		-1*12*$pixel 35*$pixel 0 darken($catbug-body, 5%),
		-1*11*$pixel 35*$pixel 0 darken($catbug-body, 30%),
		-1*10*$pixel 35*$pixel 0 $catbug-black,
		-1*9*$pixel 35*$pixel 0 $catbug-black,
		-1*8*$pixel 35*$pixel 0 $catbug-black,
		-1*7*$pixel 35*$pixel 0 $catbug-black,
		-1*6*$pixel 35*$pixel 0 $catbug-black,
		-1*5*$pixel 35*$pixel 0 lighten($catbug-spot, 20%),
		-1*4*$pixel 35*$pixel 0 lighten($catbug-spot, 20%),
		-1*3*$pixel 35*$pixel 0 lighten($catbug-spot, 20%),
		-1*2*$pixel 35*$pixel 0 darken($catbug-body, 30%),
		-1*1*$pixel 35*$pixel 0 $catbug-black,
		
		-1*14*$pixel 36*$pixel 0 $catbug-black,
		-1*13*$pixel 36*$pixel 0 darken($catbug-body, 30%),
		-1*12*$pixel 36*$pixel 0 darken($catbug-body, 5%),
		-1*11*$pixel 36*$pixel 0 $catbug-black,
		-1*5*$pixel 36*$pixel 0 $catbug-black,
		-1*4*$pixel 36*$pixel 0 darken($catbug-body, 30%),
		-1*3*$pixel 36*$pixel 0 darken($catbug-body, 5%),
		-1*2*$pixel 36*$pixel 0 $catbug-black,
		
		-1*14*$pixel 37*$pixel 0 $catbug-black,
		-1*13*$pixel 37*$pixel 0 darken($catbug-body, 30%),
		-1*12*$pixel 37*$pixel 0 $catbug-black,
		-1*5*$pixel 37*$pixel 0 $catbug-black,
		-1*4*$pixel 37*$pixel 0 darken($catbug-body, 30%),
		-1*3*$pixel 37*$pixel 0 $catbug-black,
		
		-1*14*$pixel 38*$pixel 0 $catbug-black,
		-1*13*$pixel 38*$pixel 0 $catbug-black,
		-1*5*$pixel 38*$pixel 0 $catbug-black,
		-1*4*$pixel 38*$pixel 0 $catbug-black,
}
.catbug__eyes {
	&:after {
		box-shadow:
			-1*4*$pixel 18*$pixel 0 darken($catbug-body, 5%),
			-1*3*$pixel 18*$pixel 0 lighten($catbug-spot, 30%),
			-1*2*$pixel 18*$pixel 0 darken($catbug-body, 5%),
			3*$pixel 18*$pixel 0 darken($catbug-body, 5%),
			4*$pixel 18*$pixel 0 lighten($catbug-spot, 30%),
			5*$pixel 18*$pixel 0 $catbug-body,
			
			-1*4*$pixel 19*$pixel 0 lighten($catbug-spot, 30%),
			-1*3*$pixel 19*$pixel 0 $catbug-white,
			-1*2*$pixel 19*$pixel 0 lighten($catbug-spot, 30%),
			-1*1*$pixel 19*$pixel 0 $catbug-body,
			2*$pixel 19*$pixel 0 $catbug-body,
			3*$pixel 19*$pixel 0 lighten($catbug-spot, 30%),
			4*$pixel 19*$pixel 0 $catbug-white,
			5*$pixel 19*$pixel 0 lighten($catbug-spot, 30%),
			
			-1*4*$pixel 20*$pixel 0 darken($catbug-body, 5%),
			-1*3*$pixel 20*$pixel 0 darken($catbug-body, 30%),
			-1*2*$pixel 20*$pixel 0 darken($catbug-body, 5%),
			3*$pixel 20*$pixel 0 darken($catbug-body, 5%),
			4*$pixel 20*$pixel 0 darken($catbug-body, 30%),
			5*$pixel 20*$pixel 0 darken($catbug-body, 5%),
	}
	&:before {
		box-shadow:
			-1*4*$pixel 18*$pixel 0 darken($catbug-body, 30%),
			-1*3*$pixel 18*$pixel 0 lighten($catbug-spot, 30%),
			-1*2*$pixel 18*$pixel 0 darken($catbug-body, 5%),
			3*$pixel 18*$pixel 0 darken($catbug-body, 5%),
			4*$pixel 18*$pixel 0 lighten($catbug-spot, 30%),
			5*$pixel 18*$pixel 0 darken($catbug-body, 30%),
			
			-1*4*$pixel 19*$pixel 0 $catbug-body,
			-1*3*$pixel 19*$pixel 0 darken($catbug-body, 5%),
			-1*2*$pixel 19*$pixel 0 lighten($catbug-spot, 5%),
			-1*1*$pixel 19*$pixel 0 darken($catbug-body, 10%),
			2*$pixel 19*$pixel 0 darken($catbug-body, 10%),
			3*$pixel 19*$pixel 0 lighten($catbug-spot, 5%),
			4*$pixel 19*$pixel 0 darken($catbug-body, 5%),
			5*$pixel 19*$pixel 0 $catbug-body,
			
			-1*4*$pixel 20*$pixel 0 darken($catbug-body, 5%),
			-1*3*$pixel 20*$pixel 0 darken($catbug-body, 30%),
			-1*2*$pixel 20*$pixel 0 darken($catbug-body, 5%),
			3*$pixel 20*$pixel 0 darken($catbug-body, 5%),
			4*$pixel 20*$pixel 0 darken($catbug-body, 30%),
			5*$pixel 20*$pixel 0 darken($catbug-body, 5%),
	}
}
.catbug__mouth {
	&:after {
		box-shadow:
			-1*2*$pixel 21*$pixel 0 lighten($catbug-spot, 10%),
			-1*1*$pixel 21*$pixel 0 $catbug-body,
			0*$pixel 21*$pixel 0 $catbug-body,
			1*$pixel 21*$pixel 0 lighten($catbug-spot, 20%),
			2*$pixel 21*$pixel 0 $catbug-body,
			3*$pixel 21*$pixel 0 lighten($catbug-spot, 20%),
			
			-1*2*$pixel 22*$pixel 0 darken($catbug-body, 30%),
			-1*1*$pixel 22*$pixel 0 lighten($catbug-spot, 10%),
			0*$pixel 22*$pixel 0 lighten($catbug-spot, 10%),
			1*$pixel 22*$pixel 0 darken($catbug-body, 30%),
			2*$pixel 22*$pixel 0 lighten($catbug-spot, 10%),
			3*$pixel 22*$pixel 0 darken($catbug-body, 30%),
			
			-1*2*$pixel 23*$pixel 0 $catbug-body,
			-1*1*$pixel 23*$pixel 0 darken($catbug-body, 5%),
			0*$pixel 23*$pixel 0 darken($catbug-body, 5%),
			1*$pixel 23*$pixel 0 $catbug-body,
			2*$pixel 23*$pixel 0 darken($catbug-body, 5%),
			3*$pixel 23*$pixel 0 darken($catbug-body, 5%),
			
			-1*1*$pixel 24*$pixel 0 $catbug-body,
			0*$pixel 24*$pixel 0 $catbug-body,
			1*$pixel 24*$pixel 0 $catbug-body,
			2*$pixel 24*$pixel 0 $catbug-body,
	}
	&:before {
		box-shadow:
			-1*2*$pixel 21*$pixel 0 lighten($catbug-spot, 10%),
			-1*1*$pixel 21*$pixel 0 $catbug-body,
			0*$pixel 21*$pixel 0 $catbug-body,
			1*$pixel 21*$pixel 0 lighten($catbug-spot, 20%),
			2*$pixel 21*$pixel 0 $catbug-body,
			3*$pixel 21*$pixel 0 lighten($catbug-spot, 20%),
			
			-1*2*$pixel 22*$pixel 0 darken($catbug-body, 30%),
			-1*1*$pixel 22*$pixel 0 lighten($catbug-spot, 10%),
			0*$pixel 22*$pixel 0 darken($catbug-mouth, 20%),
			1*$pixel 22*$pixel 0 darken($catbug-mouth, 20%),
			2*$pixel 22*$pixel 0 lighten($catbug-spot, 10%),
			3*$pixel 22*$pixel 0 darken($catbug-body, 30%),
			
			-1*2*$pixel 23*$pixel 0 darken($catbug-body, 5%),
			-1*1*$pixel 23*$pixel 0 lighten($catbug-spot, 25%),
			0*$pixel 23*$pixel 0 lighten($catbug-mouth, 20%),
			1*$pixel 23*$pixel 0 $catbug-mouth,
			2*$pixel 23*$pixel 0 lighten($catbug-spot, 25%),
			3*$pixel 23*$pixel 0 darken($catbug-body, 5%),
			
			-1*1*$pixel 24*$pixel 0 darken($catbug-body, 5%),
			0*$pixel 24*$pixel 0 lighten($catbug-spot, 25%),
			1*$pixel 24*$pixel 0 lighten($catbug-spot, 25%),
			2*$pixel 24*$pixel 0 darken($catbug-body, 5%),
	}
}
.catbug__wings {
	&:after {
		box-shadow: 
			-1*12*$pixel 0 0 $catbug-black,
			-1*11*$pixel 0 0 $catbug-black,
			-1*10*$pixel 0 0 $catbug-black,
			-1*9*$pixel 0 0 $catbug-black,
			-1*8*$pixel 0 0 darken($catbug-wing, 15%),
			2*$pixel 0 0 $catbug-black,
			3*$pixel 0 0 $catbug-black,
			4*$pixel 0 0 $catbug-black,
			5*$pixel 0 0 $catbug-black,

			-1*13*$pixel $pixel 0 $catbug-black,
			-1*12*$pixel $pixel 0 darken($catbug-wing, 15%),
			-1*11*$pixel $pixel 0 $catbug-wing,
			-1*10*$pixel $pixel 0 $catbug-wing,
			-1*9*$pixel $pixel 0 $catbug-wing,
			-1*8*$pixel $pixel 0 darken($catbug-wing, 15%),
			-1*7*$pixel $pixel 0 $catbug-black,
			1*$pixel $pixel 0 $catbug-black,
			2*$pixel $pixel 0 $catbug-black,
			3*$pixel $pixel 0 $catbug-wing,
			4*$pixel $pixel 0 $catbug-wing,
			5*$pixel $pixel 0 $catbug-spot,
			6*$pixel $pixel 0 $catbug-black,
			7*$pixel $pixel 0 $catbug-black,

			-1*14*$pixel 2*$pixel 0 $catbug-black,
			-1*13*$pixel 2*$pixel 0 $catbug-wing,
			-1*12*$pixel 2*$pixel 0 $catbug-wing,
			-1*11*$pixel 2*$pixel 0 $catbug-wing,
			-1*10*$pixel 2*$pixel 0 $catbug-wing,
			-1*9*$pixel 2*$pixel 0 $catbug-wing,
			-1*8*$pixel 2*$pixel 0 $catbug-wing,
			-1*7*$pixel 2*$pixel 0 $catbug-wing,
			-1*6*$pixel 2*$pixel 0 $catbug-spot,
			1*$pixel 2*$pixel 0 $catbug-black,
			2*$pixel 2*$pixel 0 darken($catbug-wing, 15%),
			3*$pixel 2*$pixel 0 $catbug-wing,
			4*$pixel 2*$pixel 0 $catbug-wing,
			5*$pixel 2*$pixel 0 $catbug-spot,
			6*$pixel 2*$pixel 0 $catbug-spot,
			7*$pixel 2*$pixel 0 $catbug-spot,
			8*$pixel 2*$pixel 0 $catbug-black,

			-1*14*$pixel 3*$pixel 0 $catbug-black,
			-1*13*$pixel 3*$pixel 0 $catbug-wing,
			-1*12*$pixel 3*$pixel 0 $catbug-wing,
			-1*11*$pixel 3*$pixel 0 $catbug-wing,
			-1*10*$pixel 3*$pixel 0 $catbug-wing,
			-1*9*$pixel 3*$pixel 0 $catbug-wing,
			-1*8*$pixel 3*$pixel 0 $catbug-wing,
			-1*7*$pixel 3*$pixel 0 $catbug-wing,
			-1*6*$pixel 3*$pixel 0 $catbug-wing,
			-1*5*$pixel 3*$pixel 0 $catbug-spot,
			1*$pixel 3*$pixel 0 $catbug-black,
			2*$pixel 3*$pixel 0 darken($catbug-wing, 15%),
			3*$pixel 3*$pixel 0 $catbug-spot,
			4*$pixel 3*$pixel 0 $catbug-wing,
			5*$pixel 3*$pixel 0 $catbug-wing,
			6*$pixel 3*$pixel 0 $catbug-spot,
			7*$pixel 3*$pixel 0 $catbug-spot,
			8*$pixel 3*$pixel 0 $catbug-spot,
			9*$pixel 3*$pixel 0 $catbug-black,

			-1*15*$pixel 4*$pixel 0 $catbug-spot,
			-1*14*$pixel 4*$pixel 0 $catbug-spot,
			-1*13*$pixel 4*$pixel 0 $catbug-spot,
			-1*12*$pixel 4*$pixel 0 $catbug-wing,
			-1*11*$pixel 4*$pixel 0 $catbug-wing,
			-1*10*$pixel 4*$pixel 0 $catbug-wing,
			-1*9*$pixel 4*$pixel 0 $catbug-wing,
			-1*8*$pixel 4*$pixel 0 $catbug-wing,
			-1*7*$pixel 4*$pixel 0 $catbug-wing,
			-1*6*$pixel 4*$pixel 0 $catbug-wing,
			-1*5*$pixel 4*$pixel 0 darken($catbug-wing, 15%),
			-1*4*$pixel 4*$pixel 0 $catbug-spot,
			1*$pixel 4*$pixel 0 $catbug-black,
			2*$pixel 4*$pixel 0 $catbug-black,
			3*$pixel 4*$pixel 0 $catbug-spot,
			4*$pixel 4*$pixel 0 $catbug-wing,
			5*$pixel 4*$pixel 0 $catbug-wing,
			6*$pixel 4*$pixel 0 $catbug-wing,
			7*$pixel 4*$pixel 0 $catbug-spot,
			8*$pixel 4*$pixel 0 $catbug-spot,
			9*$pixel 4*$pixel 0 $catbug-black,

			-1*15*$pixel 5*$pixel 0 $catbug-black,
			-1*14*$pixel 5*$pixel 0 $catbug-spot,
			-1*13*$pixel 5*$pixel 0 $catbug-spot,
			-1*12*$pixel 5*$pixel 0 $catbug-spot,
			-1*11*$pixel 5*$pixel 0 $catbug-wing,
			-1*10*$pixel 5*$pixel 0 $catbug-wing,
			-1*9*$pixel 5*$pixel 0 $catbug-wing,
			-1*8*$pixel 5*$pixel 0 $catbug-wing,
			-1*7*$pixel 5*$pixel 0 $catbug-wing,
			-1*6*$pixel 5*$pixel 0 $catbug-wing,
			-1*5*$pixel 5*$pixel 0 $catbug-wing,
			-1*4*$pixel 5*$pixel 0 $catbug-spot,
			3*$pixel 5*$pixel 0 $catbug-spot,
			4*$pixel 5*$pixel 0 $catbug-wing,
			5*$pixel 5*$pixel 0 $catbug-wing,
			6*$pixel 5*$pixel 0 $catbug-wing,
			7*$pixel 5*$pixel 0 $catbug-wing,
			8*$pixel 5*$pixel 0 $catbug-wing,
			9*$pixel 5*$pixel 0 darken($catbug-wing, 15%),
			10*$pixel 5*$pixel 0 $catbug-black,

			-1*15*$pixel 6*$pixel 0 $catbug-black,
			-1*14*$pixel 6*$pixel 0 $catbug-spot,
			-1*13*$pixel 6*$pixel 0 $catbug-spot,
			-1*12*$pixel 6*$pixel 0 $catbug-spot,
			-1*11*$pixel 6*$pixel 0 $catbug-wing,
			-1*10*$pixel 6*$pixel 0 $catbug-wing,
			-1*9*$pixel 6*$pixel 0 $catbug-spot,
			-1*8*$pixel 6*$pixel 0 $catbug-spot,
			-1*7*$pixel 6*$pixel 0 $catbug-wing,
			-1*6*$pixel 6*$pixel 0 $catbug-wing,
			-1*5*$pixel 6*$pixel 0 $catbug-wing,
			-1*4*$pixel 6*$pixel 0 darken($catbug-wing, 15%),
			-1*3*$pixel 6*$pixel 0 $catbug-spot,
			3*$pixel 6*$pixel 0 $catbug-spot,
			4*$pixel 6*$pixel 0 $catbug-spot,
			5*$pixel 6*$pixel 0 $catbug-wing,
			6*$pixel 6*$pixel 0 $catbug-wing,
			7*$pixel 6*$pixel 0 $catbug-wing,
			8*$pixel 6*$pixel 0 $catbug-wing,
			9*$pixel 6*$pixel 0 darken($catbug-wing, 15%),
			10*$pixel 6*$pixel 0 $catbug-black,

			-1*15*$pixel 7*$pixel 0 $catbug-black,
			-1*14*$pixel 7*$pixel 0 $catbug-spot,
			-1*13*$pixel 7*$pixel 0 $catbug-spot,
			-1*12*$pixel 7*$pixel 0 $catbug-spot,
			-1*11*$pixel 7*$pixel 0 $catbug-wing,
			-1*10*$pixel 7*$pixel 0 $catbug-wing,
			-1*9*$pixel 7*$pixel 0 $catbug-spot,
			-1*8*$pixel 7*$pixel 0 $catbug-spot,
			-1*7*$pixel 7*$pixel 0 $catbug-spot,
			-1*6*$pixel 7*$pixel 0 $catbug-wing,
			-1*5*$pixel 7*$pixel 0 $catbug-wing,
			-1*4*$pixel 7*$pixel 0 $catbug-spot,
			-1*3*$pixel 7*$pixel 0 $catbug-spot,
			3*$pixel 7*$pixel 0 $catbug-spot,
			4*$pixel 7*$pixel 0 $catbug-spot,
			5*$pixel 7*$pixel 0 $catbug-spot,
			6*$pixel 7*$pixel 0 $catbug-wing,
			7*$pixel 7*$pixel 0 $catbug-wing,
			8*$pixel 7*$pixel 0 $catbug-wing,
			9*$pixel 7*$pixel 0 darken($catbug-wing, 15%),
			10*$pixel 7*$pixel 0 $catbug-black,

			-1*15*$pixel 8*$pixel 0 $catbug-black,
			-1*14*$pixel 8*$pixel 0 $catbug-spot,
			-1*13*$pixel 8*$pixel 0 $catbug-spot,
			-1*12*$pixel 8*$pixel 0 $catbug-wing,
			-1*11*$pixel 8*$pixel 0 $catbug-wing,
			-1*10*$pixel 8*$pixel 0 $catbug-wing,
			-1*9*$pixel 8*$pixel 0 $catbug-wing,
			-1*8*$pixel 8*$pixel 0 $catbug-spot,
			-1*7*$pixel 8*$pixel 0 $catbug-spot,
			-1*6*$pixel 8*$pixel 0 $catbug-wing,
			-1*5*$pixel 8*$pixel 0 $catbug-wing,
			-1*4*$pixel 8*$pixel 0 $catbug-spot,
			-1*3*$pixel 8*$pixel 0 $catbug-spot,
			-1*2*$pixel 8*$pixel 0 $catbug-spot,
			3*$pixel 8*$pixel 0 $catbug-spot,
			4*$pixel 8*$pixel 0 $catbug-spot,
			5*$pixel 8*$pixel 0 $catbug-spot,
			6*$pixel 8*$pixel 0 $catbug-wing,
			7*$pixel 8*$pixel 0 $catbug-wing,
			8*$pixel 8*$pixel 0 darken($catbug-wing, 15%),
			9*$pixel 8*$pixel 0 $catbug-spot,
			10*$pixel 8*$pixel 0 $catbug-black,

			-1*15*$pixel 9*$pixel 0 $catbug-black,
			-1*14*$pixel 9*$pixel 0 $catbug-wing,
			-1*13*$pixel 9*$pixel 0 $catbug-wing,
			-1*12*$pixel 9*$pixel 0 $catbug-wing,
			-1*11*$pixel 9*$pixel 0 $catbug-wing,
			-1*10*$pixel 9*$pixel 0 $catbug-wing,
			-1*9*$pixel 9*$pixel 0 $catbug-wing,
			-1*8*$pixel 9*$pixel 0 $catbug-wing,
			-1*7*$pixel 9*$pixel 0 $catbug-wing,
			-1*6*$pixel 9*$pixel 0 $catbug-wing,
			-1*5*$pixel 9*$pixel 0 $catbug-wing,
			-1*4*$pixel 9*$pixel 0 $catbug-spot,
			-1*3*$pixel 9*$pixel 0 $catbug-spot,
			-1*2*$pixel 9*$pixel 0 $catbug-spot,
			3*$pixel 9*$pixel 0 $catbug-spot,
			4*$pixel 9*$pixel 0 $catbug-spot,
			5*$pixel 9*$pixel 0 $catbug-spot,
			6*$pixel 9*$pixel 0 $catbug-wing,
			7*$pixel 9*$pixel 0 $catbug-wing,
			8*$pixel 9*$pixel 0 $catbug-spot,
			9*$pixel 9*$pixel 0 $catbug-spot,
			10*$pixel 9*$pixel 0 $catbug-black,

			-1*15*$pixel 10*$pixel 0 $catbug-spot,
			-1*14*$pixel 10*$pixel 0 $catbug-wing,
			-1*13*$pixel 10*$pixel 0 $catbug-wing,
			-1*12*$pixel 10*$pixel 0 $catbug-wing,
			-1*11*$pixel 10*$pixel 0 $catbug-wing,
			-1*10*$pixel 10*$pixel 0 $catbug-wing,
			-1*9*$pixel 10*$pixel 0 $catbug-wing,
			-1*8*$pixel 10*$pixel 0 $catbug-wing,
			-1*7*$pixel 10*$pixel 0 $catbug-wing,
			-1*6*$pixel 10*$pixel 0 $catbug-wing,
			-1*5*$pixel 10*$pixel 0 $catbug-wing,
			-1*4*$pixel 10*$pixel 0 $catbug-spot,
			-1*3*$pixel 10*$pixel 0 $catbug-spot,
			-1*2*$pixel 10*$pixel 0 $catbug-spot,
			3*$pixel 10*$pixel 0 $catbug-spot,
			4*$pixel 10*$pixel 0 $catbug-spot,
			5*$pixel 10*$pixel 0 $catbug-wing,
			6*$pixel 10*$pixel 0 $catbug-wing,
			7*$pixel 10*$pixel 0 $catbug-wing,
			8*$pixel 10*$pixel 0 $catbug-spot,
			9*$pixel 10*$pixel 0 $catbug-spot,
			10*$pixel 10*$pixel 0 $catbug-black,

			-1*15*$pixel 11*$pixel 0 $catbug-spot,
			-1*14*$pixel 11*$pixel 0 darken($catbug-wing, 15%),
			-1*13*$pixel 11*$pixel 0 $catbug-wing,
			-1*12*$pixel 11*$pixel 0 $catbug-wing,
			-1*11*$pixel 11*$pixel 0 $catbug-spot,
			-1*10*$pixel 11*$pixel 0 $catbug-spot,
			-1*9*$pixel 11*$pixel 0 $catbug-wing,
			-1*8*$pixel 11*$pixel 0 $catbug-wing,
			-1*7*$pixel 11*$pixel 0 $catbug-wing,
			-1*6*$pixel 11*$pixel 0 $catbug-wing,
			-1*5*$pixel 11*$pixel 0 $catbug-wing,
			-1*4*$pixel 11*$pixel 0 darken($catbug-wing, 15%),
			-1*3*$pixel 11*$pixel 0 $catbug-spot,
			-1*2*$pixel 11*$pixel 0 $catbug-spot,
			-1*1*$pixel 11*$pixel 0 $catbug-spot,
			3*$pixel 11*$pixel 0 $catbug-spot,
			4*$pixel 11*$pixel 0 $catbug-wing,
			5*$pixel 11*$pixel 0 $catbug-wing,
			6*$pixel 11*$pixel 0 $catbug-wing,
			7*$pixel 11*$pixel 0 darken($catbug-wing, 15%),
			8*$pixel 11*$pixel 0 darken($catbug-wing, 15%),
			9*$pixel 11*$pixel 0 $catbug-spot,
			10*$pixel 11*$pixel 0 $catbug-black,

			-1*15*$pixel 12*$pixel 0 $catbug-spot,
			-1*14*$pixel 12*$pixel 0 darken($catbug-wing, 15%),
			-1*13*$pixel 12*$pixel 0 darken($catbug-wing, 15%),
			-1*12*$pixel 12*$pixel 0 $catbug-spot,
			-1*11*$pixel 12*$pixel 0 $catbug-spot,
			-1*10*$pixel 12*$pixel 0 $catbug-spot,
			-1*9*$pixel 12*$pixel 0 $catbug-spot,
			-1*8*$pixel 12*$pixel 0 $catbug-wing,
			-1*7*$pixel 12*$pixel 0 $catbug-wing,
			-1*5*$pixel 12*$pixel 0 darken($catbug-wing, 15%),
			-1*4*$pixel 12*$pixel 0 darken($catbug-wing, 15%),
			-1*3*$pixel 12*$pixel 0 darken($catbug-wing, 15%),
			-1*2*$pixel 12*$pixel 0 darken($catbug-wing, 15%),
			-1*1*$pixel 12*$pixel 0 $catbug-spot,
			2*$pixel 12*$pixel 0 $catbug-spot,
			3*$pixel 12*$pixel 0 darken($catbug-wing, 15%),
			4*$pixel 12*$pixel 0 darken($catbug-wing, 15%),
			6*$pixel 12*$pixel 0 darken($catbug-wing, 15%),
			7*$pixel 12*$pixel 0 darken($catbug-wing, 15%),
			8*$pixel 12*$pixel 0 darken($catbug-wing, 15%),
			9*$pixel 12*$pixel 0 $catbug-black,

			-1*15*$pixel 13*$pixel 0 $catbug-spot,
			-1*14*$pixel 13*$pixel 0 darken($catbug-wing, 15%),
			-1*13*$pixel 13*$pixel 0 darken($catbug-wing, 15%),
			-1*12*$pixel 13*$pixel 0 $catbug-spot,
			-1*11*$pixel 13*$pixel 0 $catbug-spot,
			-1*10*$pixel 13*$pixel 0 $catbug-spot,
			-1*9*$pixel 13*$pixel 0 $catbug-spot,
			-1*8*$pixel 13*$pixel 0 darken($catbug-wing, 15%),
			-1*4*$pixel 13*$pixel 0 darken($catbug-wing, 15%),
			-1*3*$pixel 13*$pixel 0 darken($catbug-wing, 15%),
			-1*2*$pixel 13*$pixel 0 darken($catbug-wing, 15%),
			-1*1*$pixel 13*$pixel 0 $catbug-spot,
			2*$pixel 13*$pixel 0 $catbug-spot,
			3*$pixel 13*$pixel 0 darken($catbug-wing, 15%),
			7*$pixel 13*$pixel 0 darken($catbug-wing, 15%),
			8*$pixel 13*$pixel 0 darken($catbug-wing, 15%),
			9*$pixel 13*$pixel 0 $catbug-black,

			-1*14*$pixel 14*$pixel 0 $catbug-spot,
			-1*13*$pixel 14*$pixel 0 darken($catbug-wing, 15%),
			-1*12*$pixel 14*$pixel 0 $catbug-spot,
			-1*11*$pixel 14*$pixel 0 $catbug-spot,
			-1*10*$pixel 14*$pixel 0 $catbug-spot,
			-1*9*$pixel 14*$pixel 0 $catbug-spot,
			-1*8*$pixel 14*$pixel 0 darken($catbug-wing, 15%),
			-1*3*$pixel 14*$pixel 0 darken($catbug-wing, 15%),
			-1*2*$pixel 14*$pixel 0 darken($catbug-wing, 15%),
			-1*1*$pixel 14*$pixel 0 $catbug-spot,
			1*$pixel 14*$pixel 0 $catbug-spot,
			2*$pixel 14*$pixel 0 darken($catbug-wing, 15%),
			7*$pixel 14*$pixel 0 darken($catbug-wing, 15%),
			8*$pixel 14*$pixel 0 $catbug-spot,

			-1*14*$pixel 15*$pixel 0 $catbug-spot,
			-1*13*$pixel 15*$pixel 0 darken($catbug-wing, 15%),
			-1*12*$pixel 15*$pixel 0 darken($catbug-wing, 15%),
			-1*11*$pixel 15*$pixel 0 $catbug-spot,
			-1*10*$pixel 15*$pixel 0 $catbug-spot,
			-1*9*$pixel 15*$pixel 0 darken($catbug-wing, 15%),
			-1*8*$pixel 15*$pixel 0 darken($catbug-wing, 15%),
			7*$pixel 15*$pixel 0 $catbug-spot,

			-1*13*$pixel 16*$pixel 0 $catbug-spot,
			-1*12*$pixel 16*$pixel 0 darken($catbug-wing, 15%),
			-1*11*$pixel 16*$pixel 0 darken($catbug-wing, 15%),
			-1*10*$pixel 16*$pixel 0 darken($catbug-wing, 15%),
			-1*9*$pixel 16*$pixel 0 darken($catbug-wing, 15%),

			-1*12*$pixel 17*$pixel 0 $catbug-spot,
			-1*11*$pixel 17*$pixel 0 darken($catbug-wing, 15%),
			-1*10*$pixel 17*$pixel 0 darken($catbug-wing, 15%),

			-1*12*$pixel 18*$pixel 0 $catbug-black,
			-1*11*$pixel 18*$pixel 0 darken($catbug-wing, 15%),

			-1*11*$pixel 19*$pixel 0 $catbug-black,
	}
}
.catbug__wings-white {
	&:before {
		box-shadow: 
			-1*23*$pixel 8*$pixel 0 $catbug-black,
			-1*22*$pixel 8*$pixel 0 $catbug-black,
			17*$pixel 8*$pixel 0 $catbug-black,
			18*$pixel 8*$pixel 0 $catbug-black,

			-1*23*$pixel 9*$pixel 0 $catbug-black,
			-1*22*$pixel 9*$pixel 0 $catbug-body,
			-1*21*$pixel 9*$pixel 0 $catbug-black,
			-1*20*$pixel 9*$pixel 0 $catbug-black,
			15*$pixel 9*$pixel 0 $catbug-black,
			16*$pixel 9*$pixel 0 $catbug-black,
			17*$pixel 9*$pixel 0 $catbug-body,
			18*$pixel 9*$pixel 0 $catbug-black,

			-1*23*$pixel 10*$pixel 0 $catbug-black,
			-1*22*$pixel 10*$pixel 0 $catbug-body,
			-1*21*$pixel 10*$pixel 0 lighten($catbug-body, 5%),
			-1*20*$pixel 10*$pixel 0 $catbug-body,
			-1*19*$pixel 10*$pixel 0 $catbug-black,
			-1*18*$pixel 10*$pixel 0 $catbug-black,
			14*$pixel 10*$pixel 0 $catbug-black,
			15*$pixel 10*$pixel 0 $catbug-body,
			16*$pixel 10*$pixel 0 $catbug-white,
			17*$pixel 10*$pixel 0 lighten($catbug-body, 5%),
			18*$pixel 10*$pixel 0 $catbug-black,

			-1*22*$pixel 11*$pixel 0 $catbug-black,
			-1*21*$pixel 11*$pixel 0 $catbug-white,
			-1*20*$pixel 11*$pixel 0 $catbug-white,
			-1*19*$pixel 11*$pixel 0 $catbug-white,
			-1*18*$pixel 11*$pixel 0 $catbug-body,
			-1*17*$pixel 11*$pixel 0 $catbug-black,
			13*$pixel 11*$pixel 0 $catbug-black,
			14*$pixel 11*$pixel 0 $catbug-white,
			15*$pixel 11*$pixel 0 $catbug-white,
			16*$pixel 11*$pixel 0 $catbug-white,
			17*$pixel 11*$pixel 0 lighten($catbug-body, 5%),
			18*$pixel 11*$pixel 0 $catbug-black,

			-1*22*$pixel 12*$pixel 0 $catbug-black,
			-1*21*$pixel 12*$pixel 0 $catbug-body,
			-1*20*$pixel 12*$pixel 0 $catbug-white,
			-1*19*$pixel 12*$pixel 0 $catbug-white,
			-1*18*$pixel 12*$pixel 0 $catbug-white,
			-1*17*$pixel 12*$pixel 0 lighten($catbug-body, 5%),
			-1*16*$pixel 12*$pixel 0 $catbug-black,
			12*$pixel 12*$pixel 0 $catbug-black,
			13*$pixel 12*$pixel 0 $catbug-white,
			14*$pixel 12*$pixel 0 $catbug-white,
			15*$pixel 12*$pixel 0 $catbug-white,
			16*$pixel 12*$pixel 0 $catbug-white,
			17*$pixel 12*$pixel 0 $catbug-black,

			-1*21*$pixel 13*$pixel 0 $catbug-black,
			-1*20*$pixel 13*$pixel 0 $catbug-white,
			-1*19*$pixel 13*$pixel 0 $catbug-white,
			-1*18*$pixel 13*$pixel 0 $catbug-white,
			-1*17*$pixel 13*$pixel 0 $catbug-white,
			-1*16*$pixel 13*$pixel 0 lighten($catbug-body, 5%),
			-1*15*$pixel 13*$pixel 0 $catbug-spot,
			11*$pixel 13*$pixel 0 $catbug-black,
			12*$pixel 13*$pixel 0 $catbug-white,
			13*$pixel 13*$pixel 0 $catbug-white,
			14*$pixel 13*$pixel 0 $catbug-white,
			15*$pixel 13*$pixel 0 $catbug-white,
			16*$pixel 13*$pixel 0 $catbug-body,
			17*$pixel 13*$pixel 0 $catbug-black,

			-1*21*$pixel 14*$pixel 0 $catbug-black,
			-1*20*$pixel 14*$pixel 0 $catbug-body,
			-1*19*$pixel 14*$pixel 0 $catbug-white,
			-1*18*$pixel 14*$pixel 0 $catbug-white,
			-1*17*$pixel 14*$pixel 0 $catbug-white,
			-1*16*$pixel 14*$pixel 0 lighten($catbug-body, 5%),
			-1*15*$pixel 14*$pixel 0 $catbug-body,
			-1*14*$pixel 14*$pixel 0 $catbug-spot,
			10*$pixel 14*$pixel 0 $catbug-black,
			11*$pixel 14*$pixel 0 lighten($catbug-body, 5%),
			12*$pixel 14*$pixel 0 $catbug-white,
			13*$pixel 14*$pixel 0 $catbug-white,
			14*$pixel 14*$pixel 0 $catbug-white,
			15*$pixel 14*$pixel 0 $catbug-white,
			16*$pixel 14*$pixel 0 $catbug-black,

			-1*20*$pixel 15*$pixel 0 $catbug-black,
			-1*19*$pixel 15*$pixel 0 $catbug-white,
			-1*18*$pixel 15*$pixel 0 $catbug-white,
			-1*17*$pixel 15*$pixel 0 $catbug-white,
			-1*16*$pixel 15*$pixel 0 lighten($catbug-body, 5%),
			-1*15*$pixel 15*$pixel 0 lighten($catbug-body, 5%),
			-1*14*$pixel 15*$pixel 0 $catbug-spot,
			9*$pixel 15*$pixel 0 $catbug-black,
			10*$pixel 15*$pixel 0 $catbug-body,
			11*$pixel 15*$pixel 0 $catbug-white,
			12*$pixel 15*$pixel 0 $catbug-white,
			13*$pixel 15*$pixel 0 $catbug-white,
			14*$pixel 15*$pixel 0 $catbug-white,
			15*$pixel 15*$pixel 0 $catbug-body,
			16*$pixel 15*$pixel 0 $catbug-black,

			-1*19*$pixel 16*$pixel 0 $catbug-black,
			-1*18*$pixel 16*$pixel 0 $catbug-white,
			-1*17*$pixel 16*$pixel 0 $catbug-white,
			-1*16*$pixel 16*$pixel 0 $catbug-white,
			-1*15*$pixel 16*$pixel 0 lighten($catbug-body, 5%),
			-1*14*$pixel 16*$pixel 0 $catbug-body,
			-1*13*$pixel 16*$pixel 0 $catbug-spot,
			8*$pixel 16*$pixel 0 $catbug-black,
			9*$pixel 16*$pixel 0 $catbug-body,
			10*$pixel 16*$pixel 0 $catbug-body,
			11*$pixel 16*$pixel 0 $catbug-white,
			12*$pixel 16*$pixel 0 $catbug-white,
			13*$pixel 16*$pixel 0 $catbug-white,
			14*$pixel 16*$pixel 0 $catbug-body,
			15*$pixel 16*$pixel 0 $catbug-black,

			-1*18*$pixel 17*$pixel 0 $catbug-black,
			-1*17*$pixel 17*$pixel 0 darken($catbug-body, 5%),
			-1*16*$pixel 17*$pixel 0 $catbug-white,
			-1*15*$pixel 17*$pixel 0 $catbug-body,
			-1*14*$pixel 17*$pixel 0 $catbug-body,
			-1*13*$pixel 17*$pixel 0 $catbug-body,
			-1*12*$pixel 17*$pixel 0 $catbug-spot,
			7*$pixel 17*$pixel 0 $catbug-black,
			8*$pixel 17*$pixel 0 darken($catbug-body, 5%),
			9*$pixel 17*$pixel 0 $catbug-body,
			10*$pixel 17*$pixel 0 $catbug-white,
			11*$pixel 17*$pixel 0 $catbug-white,
			12*$pixel 17*$pixel 0 $catbug-white,
			13*$pixel 17*$pixel 0 $catbug-body,
			14*$pixel 17*$pixel 0 $catbug-black,

			-1*17*$pixel 18*$pixel 0 $catbug-black,
			-1*16*$pixel 18*$pixel 0 $catbug-black,
			-1*15*$pixel 18*$pixel 0 darken($catbug-body, 5%),
			-1*14*$pixel 18*$pixel 0 $catbug-body,
			-1*13*$pixel 18*$pixel 0 $catbug-body,
			-1*12*$pixel 18*$pixel 0 darken($catbug-body, 30%),
			-1*11*$pixel 18*$pixel 0 $catbug-spot,
			8*$pixel 18*$pixel 0 $catbug-body,
			9*$pixel 18*$pixel 0 $catbug-body,
			10*$pixel 18*$pixel 0 $catbug-body,
			11*$pixel 18*$pixel 0 darken($catbug-body, 5%),
			12*$pixel 18*$pixel 0 $catbug-black,
			13*$pixel 18*$pixel 0 $catbug-black,

			-1*15*$pixel 19*$pixel 0 $catbug-black,
			-1*14*$pixel 19*$pixel 0 $catbug-black,
			-1*13*$pixel 19*$pixel 0 darken($catbug-body, 5%),
			-1*12*$pixel 19*$pixel 0 $catbug-body,
			-1*11*$pixel 19*$pixel 0 darken($catbug-body, 30%),
			8*$pixel 19*$pixel 0 $catbug-body,
			9*$pixel 19*$pixel 0 darken($catbug-body, 5%),
			10*$pixel 19*$pixel 0 $catbug-black,
			11*$pixel 19*$pixel 0 $catbug-black,

			-1*13*$pixel 20*$pixel 0 $catbug-black,
			-1*12*$pixel 20*$pixel 0 $catbug-black,
			-1*11*$pixel 20*$pixel 0 darken($catbug-body, 30%),
			8*$pixel 20*$pixel 0 $catbug-black,
			9*$pixel 20*$pixel 0 $catbug-black,
		}
	&:after {
			box-shadow: 
				-1*23*$pixel 11*$pixel 0 $catbug-black,
				-1*22*$pixel 11*$pixel 0 $catbug-black,
				-1*21*$pixel 11*$pixel 0 $catbug-black,
				-1*20*$pixel 11*$pixel 0 $catbug-spot,

				-1*24*$pixel 12*$pixel 0 $catbug-black,
				-1*23*$pixel 12*$pixel 0 $catbug-white,
				-1*22*$pixel 12*$pixel 0 $catbug-white,
				-1*21*$pixel 12*$pixel 0 $catbug-body,
				-1*20*$pixel 12*$pixel 0 $catbug-body,
				-1*19*$pixel 12*$pixel 0 $catbug-black,
				-1*18*$pixel 12*$pixel 0 $catbug-spot,
				14*$pixel 12*$pixel 0 $catbug-spot,
				15*$pixel 12*$pixel 0 $catbug-black,
				16*$pixel 12*$pixel 0 $catbug-black,
				17*$pixel 12*$pixel 0 $catbug-black,

				-1*24*$pixel 13*$pixel 0 $catbug-black,
				-1*23*$pixel 13*$pixel 0 $catbug-white,
				-1*22*$pixel 13*$pixel 0 $catbug-white,
				-1*21*$pixel 13*$pixel 0 $catbug-white,
				-1*20*$pixel 13*$pixel 0 $catbug-white,
				-1*19*$pixel 13*$pixel 0 darken($catbug-body, 5%),
				-1*18*$pixel 13*$pixel 0 $catbug-body,
				-1*17*$pixel 13*$pixel 0 $catbug-black,
				12*$pixel 13*$pixel 0 $catbug-spot,
				13*$pixel 13*$pixel 0 $catbug-black,
				14*$pixel 13*$pixel 0 darken($catbug-body, 5%),
				15*$pixel 13*$pixel 0 $catbug-body,
				16*$pixel 13*$pixel 0 $catbug-white,
				17*$pixel 13*$pixel 0 $catbug-white,
				18*$pixel 13*$pixel 0 $catbug-black,

				-1*24*$pixel 14*$pixel 0 $catbug-black,
				-1*23*$pixel 14*$pixel 0 $catbug-body,
				-1*22*$pixel 14*$pixel 0 $catbug-white,
				-1*21*$pixel 14*$pixel 0 $catbug-white,
				-1*20*$pixel 14*$pixel 0 $catbug-white,
				-1*19*$pixel 14*$pixel 0 $catbug-white,
				-1*18*$pixel 14*$pixel 0 $catbug-white,
				-1*17*$pixel 14*$pixel 0 $catbug-body,
				-1*16*$pixel 14*$pixel 0 $catbug-black,
				11*$pixel 14*$pixel 0 $catbug-black,
				12*$pixel 14*$pixel 0 darken($catbug-body, 5%),
				13*$pixel 14*$pixel 0 $catbug-body,
				14*$pixel 14*$pixel 0 $catbug-white,
				15*$pixel 14*$pixel 0 $catbug-white,
				16*$pixel 14*$pixel 0 $catbug-white,
				17*$pixel 14*$pixel 0 $catbug-white,
				18*$pixel 14*$pixel 0 $catbug-black,

				-1*23*$pixel 15*$pixel 0 $catbug-black,
				-1*22*$pixel 15*$pixel 0 $catbug-body,
				-1*21*$pixel 15*$pixel 0 $catbug-white,
				-1*20*$pixel 15*$pixel 0 $catbug-white,
				-1*19*$pixel 15*$pixel 0 $catbug-white,
				-1*18*$pixel 15*$pixel 0 $catbug-white,
				-1*17*$pixel 15*$pixel 0 $catbug-white,
				-1*16*$pixel 15*$pixel 0 $catbug-body,
				-1*15*$pixel 15*$pixel 0 $catbug-black,
				10*$pixel 15*$pixel 0 $catbug-black,
				11*$pixel 15*$pixel 0 $catbug-body,
				12*$pixel 15*$pixel 0 $catbug-white,
				13*$pixel 15*$pixel 0 $catbug-white,
				14*$pixel 15*$pixel 0 $catbug-white,
				15*$pixel 15*$pixel 0 $catbug-white,
				16*$pixel 15*$pixel 0 $catbug-white,
				17*$pixel 15*$pixel 0 $catbug-body,
				18*$pixel 15*$pixel 0 $catbug-spot,

				-1*22*$pixel 16*$pixel 0 $catbug-black,
				-1*21*$pixel 16*$pixel 0 darken($catbug-body, 5%),
				-1*20*$pixel 16*$pixel 0 $catbug-body,
				-1*19*$pixel 16*$pixel 0 $catbug-white,
				-1*18*$pixel 16*$pixel 0 $catbug-white,
				-1*17*$pixel 16*$pixel 0 $catbug-white,
				-1*16*$pixel 16*$pixel 0 $catbug-white,
				-1*15*$pixel 16*$pixel 0 $catbug-body,
				-1*14*$pixel 16*$pixel 0 $catbug-black,
				9*$pixel 16*$pixel 0 $catbug-black,
				10*$pixel 16*$pixel 0 $catbug-body,
				11*$pixel 16*$pixel 0 $catbug-white,
				12*$pixel 16*$pixel 0 $catbug-white,
				13*$pixel 16*$pixel 0 $catbug-white,
				14*$pixel 16*$pixel 0 $catbug-white,
				15*$pixel 16*$pixel 0 $catbug-body,
				16*$pixel 16*$pixel 0 darken($catbug-body, 5%),
				17*$pixel 16*$pixel 0 $catbug-black,

				-1*21*$pixel 17*$pixel 0 $catbug-black,
				-1*20*$pixel 17*$pixel 0 $catbug-black,
				-1*19*$pixel 17*$pixel 0 darken($catbug-body, 5%),
				-1*18*$pixel 17*$pixel 0 $catbug-body,
				-1*17*$pixel 17*$pixel 0 $catbug-white,
				-1*16*$pixel 17*$pixel 0 $catbug-white,
				-1*15*$pixel 17*$pixel 0 $catbug-white,
				-1*14*$pixel 17*$pixel 0 $catbug-body,
				-1*13*$pixel 17*$pixel 0 $catbug-black,
				7*$pixel 17*$pixel 0 $catbug-black,
				8*$pixel 17*$pixel 0 $catbug-spot,
				9*$pixel 17*$pixel 0 $catbug-body,
				10*$pixel 17*$pixel 0 $catbug-white,
				11*$pixel 17*$pixel 0 $catbug-white,
				12*$pixel 17*$pixel 0 $catbug-white,
				13*$pixel 17*$pixel 0 $catbug-body,
				14*$pixel 17*$pixel 0 $catbug-body,
				15*$pixel 17*$pixel 0 $catbug-black,
				16*$pixel 17*$pixel 0 $catbug-spot,

				-1*19*$pixel 18*$pixel 0 $catbug-black,
				-1*18*$pixel 18*$pixel 0 $catbug-black,
				-1*17*$pixel 18*$pixel 0 darken($catbug-body, 5%),
				-1*16*$pixel 18*$pixel 0 $catbug-body,
				-1*15*$pixel 18*$pixel 0 $catbug-white,
				-1*14*$pixel 18*$pixel 0 $catbug-white,
				-1*13*$pixel 18*$pixel 0 $catbug-body,
				-1*12*$pixel 18*$pixel 0 $catbug-black,
				8*$pixel 18*$pixel 0 $catbug-body,
				9*$pixel 18*$pixel 0 $catbug-white,
				10*$pixel 18*$pixel 0 $catbug-white,
				11*$pixel 18*$pixel 0 $catbug-body,
				12*$pixel 18*$pixel 0 darken($catbug-body, 5%),
				13*$pixel 18*$pixel 0 $catbug-black,
				14*$pixel 18*$pixel 0 $catbug-black,

				-1*17*$pixel 19*$pixel 0 $catbug-black,
				-1*16*$pixel 19*$pixel 0 $catbug-black,
				-1*15*$pixel 19*$pixel 0 darken($catbug-body, 5%),
				-1*14*$pixel 19*$pixel 0 $catbug-body,
				-1*13*$pixel 19*$pixel 0 $catbug-white,
				-1*12*$pixel 19*$pixel 0 $catbug-body,
				-1*11*$pixel 19*$pixel 0 $catbug-black,
				8*$pixel 19*$pixel 0 $catbug-body,
				9*$pixel 19*$pixel 0 $catbug-body,
				10*$pixel 19*$pixel 0 darken($catbug-body, 5%),
				11*$pixel 19*$pixel 0 $catbug-black,
				12*$pixel 19*$pixel 0 $catbug-black,

				-1*15*$pixel 20*$pixel 0 $catbug-black,
				-1*14*$pixel 20*$pixel 0 $catbug-black,
				-1*13*$pixel 20*$pixel 0 darken($catbug-body, 5%),
				-1*12*$pixel 20*$pixel 0 $catbug-body,
				-1*11*$pixel 20*$pixel 0 $catbug-body,
				8*$pixel 20*$pixel 0 darken($catbug-body, 30%),
				9*$pixel 20*$pixel 0 $catbug-black,
				10*$pixel 20*$pixel 0 $catbug-black,

				-1*13*$pixel 21*$pixel 0 $catbug-black,
				-1*12*$pixel 21*$pixel 0 $catbug-black,
				8*$pixel 21*$pixel 0 $catbug-spot,
		}
}
.catbug__paws {
	&:before {
		box-shadow: 
			-1*9*$pixel 26*$pixel 0 darken($catbug-body, 5%),
			-1*8*$pixel 26*$pixel 0 darken($catbug-body, 5%),
			-1*7*$pixel 26*$pixel 0 darken($catbug-body, 5%),
			-1*6*$pixel 26*$pixel 0 $catbug-body,
			-1*5*$pixel 26*$pixel 0 darken($catbug-body, 5%),
			-1*4*$pixel 26*$pixel 0 darken($catbug-body, 5%),
			0*$pixel 26*$pixel 0 darken($catbug-body, 5%),
			1*$pixel 26*$pixel 0 darken($catbug-body, 5%),
			2*$pixel 26*$pixel 0 darken($catbug-body, 30%),
			3*$pixel 26*$pixel 0 lighten($catbug-spot, 20%),
			4*$pixel 26*$pixel 0 $catbug-black,

			-1*9*$pixel 27*$pixel 0 darken($catbug-body, 5%),
			-1*8*$pixel 27*$pixel 0 darken($catbug-body, 30%),
			-1*7*$pixel 27*$pixel 0 $catbug-body,
			-1*6*$pixel 27*$pixel 0 $catbug-body,
			-1*5*$pixel 27*$pixel 0 $catbug-body,
			-1*4*$pixel 27*$pixel 0 darken($catbug-body, 5%),
			1*$pixel 27*$pixel 0 darken($catbug-body, 5%),
			2*$pixel 27*$pixel 0 $catbug-body,
			3*$pixel 27*$pixel 0 darken($catbug-body, 5%),
			4*$pixel 27*$pixel 0 $catbug-spot,

			-1*9*$pixel 28*$pixel 0 lighten($catbug-spot, 20%),
			-1*8*$pixel 28*$pixel 0 darken($catbug-body, 30%),
			-1*7*$pixel 28*$pixel 0 $catbug-body,
			-1*6*$pixel 28*$pixel 0 $catbug-body,
			-1*5*$pixel 28*$pixel 0 darken($catbug-body, 30%),
			-1*4*$pixel 28*$pixel 0 darken($catbug-body, 5%),
			1*$pixel 28*$pixel 0 darken($catbug-body, 30%),
			2*$pixel 28*$pixel 0 $catbug-body,
			3*$pixel 28*$pixel 0 darken($catbug-body, 5%),
			4*$pixel 28*$pixel 0 darken($catbug-body, 30%),
			5*$pixel 28*$pixel 0 $catbug-spot,

			-1*9*$pixel 29*$pixel 0 lighten($catbug-spot, 20%),
			-1*8*$pixel 29*$pixel 0 darken($catbug-body, 5%),
			-1*7*$pixel 29*$pixel 0 darken($catbug-body, 5%),
			-1*6*$pixel 29*$pixel 0 lighten($catbug-spot, 20%),
			-1*5*$pixel 29*$pixel 0 darken($catbug-body, 5%),
			1*$pixel 29*$pixel 0 darken($catbug-body, 30%),
			2*$pixel 29*$pixel 0 darken($catbug-body, 30%),
			3*$pixel 29*$pixel 0 darken($catbug-body, 5%),
			4*$pixel 29*$pixel 0 darken($catbug-body, 5%),
			5*$pixel 29*$pixel 0 $catbug-spot,

			-1*9*$pixel 30*$pixel 0 lighten($catbug-spot, 20%),
			-1*8*$pixel 30*$pixel 0 darken($catbug-body, 5%),
			-1*7*$pixel 30*$pixel 0 lighten($catbug-spot, 20%),
			-1*6*$pixel 30*$pixel 0 darken($catbug-body, 5%),
			-1*5*$pixel 30*$pixel 0 darken($catbug-body, 5%),
			0*$pixel 30*$pixel 0 darken($catbug-body, 5%),
			1*$pixel 30*$pixel 0 darken($catbug-body, 5%),
			2*$pixel 30*$pixel 0 lighten($catbug-spot, 20%),
			3*$pixel 30*$pixel 0 darken($catbug-body, 5%),
			4*$pixel 30*$pixel 0 darken($catbug-body, 5%),
			5*$pixel 30*$pixel 0 $catbug-spot,

			-1*8*$pixel 31*$pixel 0 lighten($catbug-spot, 5%),
			-1*7*$pixel 31*$pixel 0 darken($catbug-body, 5%),
			-1*6*$pixel 31*$pixel 0 darken($catbug-body, 5%),
			-1*5*$pixel 31*$pixel 0 darken($catbug-body, 5%),
			0*$pixel 31*$pixel 0 darken($catbug-body, 5%),
			1*$pixel 31*$pixel 0 darken($catbug-body, 5%),
			2*$pixel 31*$pixel 0 lighten($catbug-spot, 20%),
			3*$pixel 31*$pixel 0 lighten($catbug-spot, 5%),
			4*$pixel 31*$pixel 0 darken($catbug-body, 30%),
			5*$pixel 31*$pixel 0 $catbug-spot,

			4*$pixel 32*$pixel 0 $catbug-spot,
	}
	&:after {
		box-shadow: 
			-1*9*$pixel 26*$pixel 0 darken($catbug-body, 5%),
			-1*8*$pixel 26*$pixel 0 darken($catbug-body, 5%),
			-1*7*$pixel 26*$pixel 0 $catbug-body,
			-1*6*$pixel 26*$pixel 0 $catbug-body,
			-1*5*$pixel 26*$pixel 0 darken($catbug-body, 5%),
			-1*4*$pixel 26*$pixel 0 darken($catbug-body, 5%),
			0*$pixel 26*$pixel 0 darken($catbug-body, 5%),
			1*$pixel 26*$pixel 0 darken($catbug-body, 5%),
			2*$pixel 26*$pixel 0 darken($catbug-body, 30%),
			3*$pixel 26*$pixel 0 lighten($catbug-spot, 20%),
			4*$pixel 26*$pixel 0 $catbug-black,

			-1*9*$pixel 27*$pixel 0 darken($catbug-body, 5%),
			-1*8*$pixel 27*$pixel 0 darken($catbug-body, 30%),
			-1*7*$pixel 27*$pixel 0 $catbug-body,
			-1*6*$pixel 27*$pixel 0 $catbug-body,
			-1*5*$pixel 27*$pixel 0 darken($catbug-body, 5%),
			-1*4*$pixel 27*$pixel 0 $catbug-body,
			1*$pixel 27*$pixel 0 darken($catbug-body, 5%),
			2*$pixel 27*$pixel 0 $catbug-body,
			3*$pixel 27*$pixel 0 darken($catbug-body, 5%),
			4*$pixel 27*$pixel 0 $catbug-spot,

			-1*9*$pixel 28*$pixel 0 darken($catbug-body, 5%),
			-1*8*$pixel 28*$pixel 0 lighten($catbug-spot, 20%),
			-1*7*$pixel 28*$pixel 0 $catbug-body,
			-1*6*$pixel 28*$pixel 0 $catbug-body,
			-1*5*$pixel 28*$pixel 0 darken($catbug-body, 30%),
			-1*4*$pixel 28*$pixel 0 $catbug-body,
			1*$pixel 28*$pixel 0 darken($catbug-body, 30%),
			2*$pixel 28*$pixel 0 $catbug-body,
			3*$pixel 28*$pixel 0 darken($catbug-body, 5%),
			4*$pixel 28*$pixel 0 $catbug-spot,

			-1*9*$pixel 29*$pixel 0 darken($catbug-body, 5%),
			-1*8*$pixel 29*$pixel 0 lighten($catbug-spot, 5%),
			-1*7*$pixel 29*$pixel 0 darken($catbug-body, 5%),
			-1*6*$pixel 29*$pixel 0 $catbug-body,
			-1*5*$pixel 29*$pixel 0 lighten($catbug-spot, 20%),
			1*$pixel 29*$pixel 0 lighten($catbug-spot, 20%),
			2*$pixel 29*$pixel 0 $catbug-body,
			3*$pixel 29*$pixel 0 darken($catbug-body, 5%),
			4*$pixel 29*$pixel 0 $catbug-spot,

			-1*9*$pixel 30*$pixel 0 darken($catbug-body, 5%),
			-1*8*$pixel 30*$pixel 0 darken($catbug-body, 30%),
			-1*7*$pixel 30*$pixel 0 lighten($catbug-spot, 20%),
			-1*6*$pixel 30*$pixel 0 darken($catbug-body, 5%),
			-1*5*$pixel 30*$pixel 0 lighten($catbug-spot, 20%),
			0*$pixel 30*$pixel 0 darken($catbug-body, 5%),
			1*$pixel 30*$pixel 0 lighten($catbug-spot, 20%),
			2*$pixel 30*$pixel 0 $catbug-body,
			3*$pixel 30*$pixel 0 darken($catbug-body, 30%),
			4*$pixel 30*$pixel 0 $catbug-spot,

			-1*8*$pixel 31*$pixel 0 darken($catbug-body, 5%),
			-1*7*$pixel 31*$pixel 0 darken($catbug-body, 30%),
			-1*6*$pixel 31*$pixel 0 lighten($catbug-spot, 5%),
			-1*5*$pixel 31*$pixel 0 darken($catbug-body, 30%),
			0*$pixel 31*$pixel 0 darken($catbug-body, 5%),
			1*$pixel 31*$pixel 0 lighten($catbug-spot, 15%),
			2*$pixel 31*$pixel 0 darken($catbug-body, 30%),
			3*$pixel 31*$pixel 0 $catbug-spot,
	}
}


// animation
@keyframes blink {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes jump {
	0% {
		top: -10px;
	}
	50% {
		top: 10px;
	}
	100% {
		top: -10px;
	}
}